# Import the necessary packages

In [1]:
import pandas as pd
from pathlib import Path
from sqlalchemy import *
from urllib.parse import quote, quote_plus
from getpass import getpass

# Set up the DB Connection

In [2]:
USER = 'kellogg\\wkt406'
PASSWORD = getpass('NetID password: ')

NetID password:  ·············

In [3]:
engine = create_engine(f"mssql+pymssql://{USER}:{quote(PASSWORD)}@kdc02.kellogg.northwestern.edu")

# Explore the Database

In [ ]:
rs = engine.execute("USE TAXI_NYC_NEW")

In [4]:
sql = """
SELECT
  *
FROM
  INFORMATION_SCHEMA.TABLES
"""
rs = engine.execute(sql)

In [5]:
for row in rs:
    print(row)

('TAXI_NYC_NEW', 'dbo', 'FareData', 'BASE TABLE')
('TAXI_NYC_NEW', 'dbo', 'TripData', 'BASE TABLE')

In [9]:
meta_core = MetaData(engine)
table = Table('FareData', meta_core, autoload=True)
for c in table.columns:
    print(f"{str(c)} -> {type(c.type)}")

FareData.medallion -> <class 'sqlalchemy.sql.sqltypes.VARCHAR'>
FareData.hack_license -> <class 'sqlalchemy.sql.sqltypes.VARCHAR'>
FareData.vendor_id -> <class 'sqlalchemy.sql.sqltypes.VARCHAR'>
FareData.pickup_datetime -> <class 'sqlalchemy.sql.sqltypes.DATETIME'>
FareData.payment_type -> <class 'sqlalchemy.sql.sqltypes.VARCHAR'>
FareData.fare_amount -> <class 'sqlalchemy.dialects.mssql.base.MONEY'>
FareData.surcharge -> <class 'sqlalchemy.dialects.mssql.base.MONEY'>
FareData.mta_tax -> <class 'sqlalchemy.dialects.mssql.base.MONEY'>
FareData.tip_amount -> <class 'sqlalchemy.dialects.mssql.base.MONEY'>
FareData.tolls_amount -> <class 'sqlalchemy.dialects.mssql.base.MONEY'>
FareData.total_amount -> <class 'sqlalchemy.dialects.mssql.base.MONEY'>

# Get some data and read into a Pandas dataframe

In [6]:
sql = "select top 10 * from FareData"
rs = engine.execute(sql)

In [7]:
rows = rs.fetchall()

In [8]:
for row in rows:
    print(row)

('3CA71A23F09A8FF5AE5ABCEDC96798DD', '91D263AB661071CF3A12BA826B4D7851', 'CMT', datetime.datetime(2013, 10, 17, 8, 58, 55), 'CRD', Decimal('8.50'), Decimal('0.00'), Decimal('0.50'), Decimal('1.00'), Decimal('0.00'), Decimal('10.00'))
('25C8D6B5EFFDE4FA5ADA1CB89F550209', 'C17BB818140785ED3F0EBB84776C68DC', 'CMT', datetime.datetime(2013, 10, 20, 12, 16, 47), 'CRD', Decimal('7.50'), Decimal('0.00'), Decimal('0.50'), Decimal('1.50'), Decimal('0.00'), Decimal('9.50'))
('CB06D00120162467DDD4F525DCF4F6B4', 'ABE6872568209D970E2984F62DDA2DB8', 'CMT', datetime.datetime(2013, 10, 16, 20, 11, 37), 'CRD', Decimal('29.50'), Decimal('0.50'), Decimal('0.50'), Decimal('7.16'), Decimal('5.33'), Decimal('42.99'))
('198CA2E2F19D0E7C2132A605FB037666', '2B03D391E7222373C7CB497AB44DA622', 'CMT', datetime.datetime(2013, 10, 18, 2, 23, 48), 'CRD', Decimal('14.50'), Decimal('0.50'), Decimal('0.50'), Decimal('1.00'), Decimal('0.00'), Decimal('16.50'))
('2D1EAC31B5552394520B7DDF4B06D699', '33501DFAD2752720EDB2A3FA4C3ECD73', 'CMT', datetime.datetime(2013, 10, 17, 11, 44, 26), 'CRD', Decimal('9.00'), Decimal('0.00'), Decimal('0.50'), Decimal('2.85'), Decimal('0.00'), Decimal('12.35'))
('6E80B49CDA301F79199DB7CC5356BF18', '8A81FD28C26435F2557EB0492E288046', 'CMT', datetime.datetime(2013, 10, 14, 7, 36, 56), 'CRD', Decimal('5.00'), Decimal('0.00'), Decimal('0.50'), Decimal('1.10'), Decimal('0.00'), Decimal('6.60'))
('4364E355DECE98D9E2A4B1E436A1EDBF', 'E128B8E011ABFC85A2AEBAEA2529BB1F', 'CMT', datetime.datetime(2013, 10, 14, 19, 31, 55), 'CRD', Decimal('5.00'), Decimal('0.00'), Decimal('0.50'), Decimal('1.10'), Decimal('0.00'), Decimal('6.60'))
('E12B223C548E0B93412E9492A9287DA1', '4C1684A518613C368F653971702C1660', 'CMT', datetime.datetime(2013, 10, 14, 18, 20, 34), 'CRD', Decimal('52.00'), Decimal('0.00'), Decimal('0.50'), Decimal('10.50'), Decimal('0.00'), Decimal('63.00'))
('CB06D00120162467DDD4F525DCF4F6B4', 'ABE6872568209D970E2984F62DDA2DB8', 'CMT', datetime.datetime(2013, 10, 16, 23, 22, 10), 'CRD', Decimal('6.50'), Decimal('0.50'), Decimal('0.50'), Decimal('1.50'), Decimal('0.00'), Decimal('9.00'))
('0717C64B180AE954FEBF9F334C4B8B41', '7A61692B7F0A241E7D8DBFAC5C183330', 'CMT', datetime.datetime(2013, 10, 19, 1, 9, 1), 'CRD', Decimal('21.50'), Decimal('0.50'), Decimal('0.50'), Decimal('1.00'), Decimal('0.00'), Decimal('23.50'))

In [10]:
df = pd.read_sql_query(sql, engine)

In [11]:
df

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,3CA71A23F09A8FF5AE5ABCEDC96798DD,91D263AB661071CF3A12BA826B4D7851,CMT,2013-10-17 08:58:55,CRD,8.5,0.0,0.5,1.00,0.00,10.00
1,25C8D6B5EFFDE4FA5ADA1CB89F550209,C17BB818140785ED3F0EBB84776C68DC,CMT,2013-10-20 12:16:47,CRD,7.5,0.0,0.5,1.50,0.00,9.50
2,CB06D00120162467DDD4F525DCF4F6B4,ABE6872568209D970E2984F62DDA2DB8,CMT,2013-10-16 20:11:37,CRD,29.5,0.5,0.5,7.16,5.33,42.99
3,198CA2E2F19D0E7C2132A605FB037666,2B03D391E7222373C7CB497AB44DA622,CMT,2013-10-18 02:23:48,CRD,14.5,0.5,0.5,1.00,0.00,16.50
4,2D1EAC31B5552394520B7DDF4B06D699,33501DFAD2752720EDB2A3FA4C3ECD73,CMT,2013-10-17 11:44:26,CRD,9.0,0.0,0.5,2.85,0.00,12.35
5,6E80B49CDA301F79199DB7CC5356BF18,8A81FD28C26435F2557EB0492E288046,CMT,2013-10-14 07:36:56,CRD,5.0,0.0,0.5,1.10,0.00,6.60
6,4364E355DECE98D9E2A4B1E436A1EDBF,E128B8E011ABFC85A2AEBAEA2529BB1F,CMT,2013-10-14 19:31:55,CRD,5.0,0.0,0.5,1.10,0.00,6.60
7,E12B223C548E0B93412E9492A9287DA1,4C1684A518613C368F653971702C1660,CMT,2013-10-14 18:20:34,CRD,52.0,0.0,0.5,10.50,0.00,63.00
8,CB06D00120162467DDD4F525DCF4F6B4,ABE6872568209D970E2984F62DDA2DB8,CMT,2013-10-16 23:22:10,CRD,6.5,0.5,0.5,1.50,0.00,9.00
9,0717C64B180AE954FEBF9F334C4B8B41,7A61692B7F0A241E7D8DBFAC5C183330,CMT,2013-10-19 01:09:01,CRD,21.5,0.5,0.5,1.00,0.00,23.50